<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand display-2" asp-area="" asp-controller="Home" asp-action="Index">Lab5</a>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="navbar-brand" asp-area="" asp-controller="AnswerImages" asp-action="Index">Answers</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
