<html>
<body>
    <header style="text-align:center">
        <h1>ABOUT ME</h1>
        <p>
            Name: Joey Kundinger-Markhauser<br />
            Student Number: 040824003<br />
            email: kund0003@algonquinlive.com<br />
        </p>
        <h4>Tell us about yourself?</h4>
        <p>
            The details of my life are quite inconsequential... very well, where do I begin?<br />
            My father was a relentlessly self-improving boulangerie owner from Belgium with low grade narcolepsy and a penchant for buggery. <br />
            My mother was a fifteen year old French prostitute named Chloe with webbed feet. My father would womanize, he would drink. <br />
            He would make outrageous claims like he invented the question mark. Sometimes he would accuse chestnuts of being lazy. <br />
            The sort of general malaise that only the genius possess and the insane lament. My childhood was typical. Summers in Rangoon, luge lessons. <br />
            In the spring we'd make meat helmets. When I was insolent I was placed in a burlap bag and beaten with reeds- pretty standard really. <br />
            At the age of twelve I received my first scribe. At the age of fourteen a Zoroastrian named Vilma ritualistically shaved my testicles. <br />
            There really is nothing like a shorn scrotum... it's breathtaking- I highly suggest you try it. -Austin Powers
        </p>
        <h4>What would you like to learn form this course?</h4>
        <p>
            I'm hoping to learn a lot more about the .NET framework and how it is used today. I have a passion for coding so any opportunity to learn about <br />
            a new type of framework is exciting.
        </p>
    </header>

    <h4>i. C# is a strongly or loosely typed language? why?</h4>
    <p>It is a strongly typed language because if try to assign a variable that is not convertible it will generate a compiler error.</p>

    <h4>ii. C# is declarative or imperative? why?</h4>
    <p>It is imperative. You directly describe the control flow.</p>

    <h4>iii. Explain implicit types in C# and give an example.</h4>
    <p>
        An implicit type in C# is any variable that is declared with the 'var' type, at compile time the compiler will look <br />
        at the value and determine what type it is.<br />
        Ex: var testVariable = 10<br />
    </p>

    <h4>iv. What is a difference between a Value Type and a Reference type?</h4>
    <p>A reference type is a variable that references another variable or a memory address in the heap.<br />
    A value type holds the actual value.</p>

    <h4>vi. Describe the MVC design pattern.</h4>
    <p>The MVC design breaks the programming into 3 parts. Model, View, and Controller. <br />
        This makes the program more organized and easier to update in the future.</p>

    <h4>vii. Compare ASP.NET WebForms to ASP.NET MVC</h4>
    <p>ASP.NET Webforms will require a lot of manual updating due to the way the program is structured.<br />
    ASP.NET MVC is a lot more organized and requires less updating.</p>

    <h4>viii. Describe the purpose of the Program.cs class in this project.</h4>
    <p>Program.cs is where the main function is, so it's where the program starts, and it creates a default web host for the program to run on.</p>

    <h4>ix. Describe the purpose of the Startup.cs class in this project.</h4>
    <p>Startup.cs configures the HTTP request pipline, and it can also add services to the container.</p>

    <h4>x. MVC Core applications can ‘host’ themselves: true of false.</h4>
    <p>TRUE</p>

    <h4>xi. When we make a value type nullable, does it really take null? How?</h4>
    <p>A value type can only be nullable by adding a '?' to the name. Ex: (int? i = null;)</p>

    <h4>xii. Name and define three cloud computing models?</h4>
    <p>
        PUBLIC:  Owned and operated by third-party cloud service providers, who deliver their computing resources such as servers and storage over the internet.<br />
        PRIVATE: Resources are used exclusivly by a single business which can be physically located at a single location.<br />
        HYBRID:  A combination of the two types described above.
    </p>
    
</body>
</html>