@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Upload</h1>
<h2>Answer Questions via image upload</h2>
<div class="row">
    <div class="form-group">
        <form asp-action="Upload" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <div class="custom-radio">
                    <input type="radio" id="computer" name="imageType" value="1" checked />
                    " What will the computers look like in 20 years?"
                    <br />
                    <input type="radio" id="earth" name="imageType" value="0" />
                    " What will the earth look like in 20 years?"
                    <br />
                </div>
                <div class="btn btn-sm float-left">
                    <input name="answerFile" type="file" />
                </div>
                <div class="form-group">
                    <button type="submit" name="upload" class="btn btn-primary">Upload Now</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
